<tr>
                        <td class="body" style="padding: 20px 40px; text-align: left; font-size: 16px; ">
                            Cảm ơn quý khách đã sử dụng dịch vụ tại AgriFarm Experience.
                            <br><br>
                            Trân trọng.
                            <br><br>
                            ------------------------------------------
                            <br><br>
                            AgriFarm Experience: Dịch Vụ Quản Lý Thuê Đất và Hỗ Trợ Canh Tác Toàn Diện.
                            <br><br>
                            <div>
                                <p>📩 Email: <a href="mailto:agrifarm@gmail.com">agrifarm@gmail.com</a></p>
                                <p>📞 Số điện thoại: <a href="tel:099995050">099995050</a></p>
                                <p>📍 Địa chỉ: 123 Biên Hoà, Đồng Nai</p>
                            </div>
                        </td>
                    </tr>
                    <!-- Footer -->
                    <tr>
                        <td class="email-footer">
                            <p>&copy; 2024 | AgriFarm Experience</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>